body {
    background-color: #000000;
    color: #3f2007;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    line-height: 16px;
    background-image: none;
}
#wrapper {    
    background-position: 50% 0;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 990px;
    position: relative;
    left: 0px;
}

h6 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

p, ul {
    margin: 10px 0;
}

div.text {
    height: 128px;
}

input::-webkit-input-placeholder {
	color: rgba(63, 32, 7, .25);
    font-style: italic;
}

input:-moz-placeholder {
	color: rgba(63, 32, 7, .25);
    font-style: italic;
}

input.placeholder {
    color: rgba(63, 32, 7, .25);
    font-style: italic;
}

input.button {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 39px;
    margin: 10px auto;
    padding: 0;
    width: 160px;
}

input.button:hover,
input.button:focus {
    background-position: 0 -39px;
}

input.button:active {
    background-position: 0 -78px;
}

input.button[disabled] {
    background-position: 0 -117px;
}

div.error-container {
    height: 64px;
    margin-top: 10px;
}

div.submit-loading {
    background: url(../../img/reg/loader_small.gif) no-repeat 50% 50%;
}

label.error {
    background-color: #DF9D7B;
    box-shadow: 0 0 6px #000000;
    color: #000000;
    display: none;
    padding: 8px;
}

label.valid{
    display: none !important;
}

label.status {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    position: absolute;
    top: 7px;
    width: 24px;
}

.race-2 label.status {
    left: -24px;
}

.race-3 label.status {
    right: -24px;
}

label.status-error {
    background-image: url(../../img/reg/icon_reject.png);
}

label.status-valid {
    background-image: url(../../img/reg/icon_accept.png);
}

label.status-pending {
    background-image: url(../../img/reg/loader_small.gif);
}

/**
 * Регистрация
 */
#reg-form {
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 746px;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
#wrapper.as #reg-form, #wrapper.van #reg-form{
    background: none;
}

fieldset.reg-step {
    border: 0;
    display: none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

fieldset.race-3 {
    height: 600px;
    left: 242px;
    position: absolute;
    top: 77px;
    width: 378px;
}

fieldset.race-2 {
    height: 600px;
    left: 377px;
    position: absolute;
    top: 77px;
    width: 378px;
}

fieldset.race-2 div.container {
    padding: 70px 40px 0 100px;
}

fieldset.race-3 div.container {
    padding: 70px 90px 0 50px;
}


/* Выбор пола */
#reg-step-gender {
    display: block;
}

input.gender {
    display: none;
}

#reg-step-gender label {
    cursor: pointer;
    position: absolute;
}

.gender-21, .gender-22, .gender-31, .gender-32{
    position:absolute;
    z-index:10;
}

#gender-af-img{
	background-image: url(../../img/reg/as_woman_hi.png);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    left: 14px;
    top: 83px;
}
body.flipped #gender-af-img {
    background-image: url(../../img/reg/as_woman_hi_flipped.png);
    left: 751px;
    top: 83px;   
}

.gender-22{
    background: url(../../img/reg/as_woman_flip.png) no-repeat 0 0;
    left: 224px;
    top: 93px;
}

#gender-af-img, .gender-22{
    height: 534px;
    width: 249px;
}

#gender-am-img{
    background-image: url(../../img/reg/as_man_hi.png);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    left: 231px;
    top: 72px;
}
body.flipped #gender-am-img{
    background-image: url(../../img/reg/as_man_hi_flipped.png);
    left: 502px;
    top: 72px;
}

.gender-21{
    background: url(../../img/reg/as_man_flip.png) no-repeat 0 0;
    left: 211px;
    top: 75px;
}

#gender-am-img, .gender-21 {
    height: 564px;
    width: 276px;
}

#gender-vm-img{
    background-image: url(../../img/reg/van_man_hi.png);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;    
    left: 502px;
    top: 71px;
}
body.flipped #gender-vm-img {
    background-image: url(../../img/reg/van_man_hi_flipped.png);
    left: 264px;
}

.gender-31{
    background: url(../../img/reg/van_man_flip.png) no-repeat 0 0;
    left: 537px;
    top: 70px;
}

#gender-vm-img, .gender-31 {
    height: 570px;
    width: 238px;
}

#gender-vf-img{
    background-image: url(../../img/reg/van_woman_hi.png);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;    
    left: 719px;
    top: 95px;
}
body.flipped #gender-vf-img {
    background-image: url(../../img/reg/van_woman_hi_flipped.png);
    left: 7px;
}

.gender-32{
    background: url(../../img/reg/van_woman_flip.png) no-repeat 0 0;
    left: 513px;
    top: 101px;
}

#gender-vf-img, .gender-32 {
    height: 526px;
    width: 272px;
}

#gender-af-img:hover, #gender-am-img:hover, #gender-vm-img:hover, #gender-vf-img:hover {
    background-position: 0 0;
}

label.gender input.button {
    margin: 0;
    position: absolute;
}

#gender-af-img input.button {
    left: 29px;
    top: 556px;
}

#gender-am-img input.button {
    left: 58px;
    top: 567px;
}

#gender-vm-img input.button {
    left: 35px;
    top: 568px;
}

#gender-vf-img input.button {
    left: 58px;
    top: 544px;
}

#gender-f-img input.button {
    margin-top: 17px;
}

label.gender:hover input.button {
    background-position: 0 -39px;
}

label.gender input.button:active {
    background-position: 0 -78px;
}

/* Выбор имени */
div.field {
    position: relative;
}

div.input {
    background-color: rgba(0, 0, 0, .45);
    border-radius: 2px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .15);
    height: 34px;
    padding: 2px;
}

div.input-border {
    border: 1px solid #E99356;
    padding: 2px;
}

div.input input {
    background-color: #F0D9A7;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 15px;
    height: 28px;
    line-height: 18px;
    padding: 5px 6px;
    width: 100%;
}

div.input input:hover,
div.input input:focus {
    background-color: #FDF0BC;
}

#eula {
    background: url(../../img/reg/18_black.png) no-repeat 0 50%;
    bottom: 0;
    color: #806B3D;
    font-weight: bold;
    left: 87px;
    line-height: 64px;
    margin: 0;
    padding-left: 64px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

html.social-app #eula {
    display: none;
}

#eula a {
    color: #15506E;
}

/**
 * Селектор языка
 */
#lang-selector {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 21px;
    left: 800px;
}